@model Domain.Monitoring.Models.StackTestReportOneStack
@using Domain.Monitoring.Models.StackTestData
@if (Model!.TestRuns is not { Count: > 0 }) return;

<table>
    <thead>
        <tr>
            <th scope="row">@Html.DisplayNameFor(m => m.TestRuns.FirstOrDefault().RunNumber)</th>
            @foreach (TestRun r in Model.TestRuns)
            {
                <th scope="col">@r.RunNumber</th>
            }
            <th scope="col">Average</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>@Html.DisplayNameFor(m => m.TestRuns.FirstOrDefault().GasTemperature)</th>
            @foreach (TestRun r in Model.TestRuns)
            {
                <td>@r.GasTemperature</td>
            }
            <td></td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.TestRuns.FirstOrDefault().GasMoisture)</th>
            @foreach (TestRun r in Model.TestRuns)
            {
                <td>@r.GasMoisture</td>
            }
            <td></td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.TestRuns.FirstOrDefault().GasFlowRateAscfm)</th>
            @foreach (TestRun r in Model.TestRuns)
            {
                <td>@r.GasFlowRateAscfm</td>
            }
            <td></td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.TestRuns.FirstOrDefault().GasFlowRateDscfm)</th>
            @foreach (TestRun r in Model.TestRuns)
            {
                <td>@r.GasFlowRateDscfm</td>
            }
            <td></td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.TestRuns.FirstOrDefault().PollutantConcentration) (@Model.AvgPollutantConcentration.Units)</th>
            @foreach (TestRun r in Model.TestRuns)
            {
                <td>@r.PollutantConcentration</td>
            }
            <td>@Model.AvgPollutantConcentration.Value</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(m => m.TestRuns.FirstOrDefault().EmissionRate) (@Model.AvgEmissionRate.Units)</th>
            @foreach (TestRun r in Model.TestRuns)
            {
                <td>@r.EmissionRate</td>
            }
            <td>@Model.AvgEmissionRate.Value</td>
        </tr>
    </tbody>
</table>
