@using Domain.StackTest.Models
@model Domain.StackTest.Models.StackTestReportOpacity

@if (Model.DocumentType == DocumentType.Method9Multi)
{
    <partial name="_TestRunsOpacityMultiPartial" model="Model" />
}
else // DocumentType.Method22 or DocumentType.Method9Single
{
    <partial name="_TestRunsOpacitySinglePartial" model="Model" />
}

@if (Model.DocumentType == DocumentType.Method22)
{
    <tr class="table-section">
        <th scope="row">@Html.DisplayNameFor(m => m.Comments)</th>
        <td class="preserve-linebreaks">@Model.Comments</td>
    </tr>
}
else
{
    <tr class="table-section">
        <th scope="row">@Html.DisplayNameFor(m => m.ControlEquipmentInfo)</th>
        <td class="preserve-linebreaks">@Model.ControlEquipmentInfo</td>
    </tr>
    <tr>
        <th scope="row">@Html.DisplayNameFor(m => m.Comments)</th>
        <td class="preserve-linebreaks">@Model.Comments</td>
    </tr>
}

<tr>
    <th scope="row">@Html.DisplayNameFor(m => m.ComplianceStatus)</th>
    <td class="preserve-linebreaks">@Model.ComplianceStatus</td>
</tr>

@if (Model.DocumentType == DocumentType.Method9Multi)
{
    <partial name="_TestRunsOpacityMultiEquipmentPartial" model="Model" />
}