@model Domain.StackTest.Models.StackTestReportGasConcentration
@{
    if (Model.TestRuns is not { Count: > 0 }) return;
    var firstTestRun = Model.TestRuns.FirstOrDefault()!;
}

<table class="table-subtable-vertical" aria-label="Test run data">
    <thead>
    <tr>
        <th scope="row">@Html.DisplayNameFor(m => firstTestRun.RunNumber)</th>
        @foreach (var r in Model.TestRuns)
        {
            <th scope="col">@r.RunNumber</th>
        }
        <th scope="col">Average</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">
            @Html.DisplayNameFor(m => firstTestRun.PollutantConcentration)
            <span class="units">(@Model.AvgPollutantConcentration.Units)</span>
        </th>
        @foreach (var r in Model.TestRuns)
        {
            <td>@r.PollutantConcentration</td>
        }
        <td>@Model.AvgPollutantConcentration.Value</td>
    </tr>
    <tr>
        <th scope="row">
            @Html.DisplayNameFor(m => firstTestRun.EmissionRate)
            <span class="units">(@Model.AvgEmissionRate.Units)</span>
        </th>
        @foreach (var r in Model.TestRuns)
        {
            <td>@r.EmissionRate</td>
        }
        <td>@Model.AvgEmissionRate.Value</td>
    </tr>
    </tbody>
</table>