@model Domain.StackTest.Models.StackTestReportRata
@using Domain.StackTest.Models.TestRun
@{
    if (Model!.TestRuns is not { Count: > 0 }) return;
    var firstTestRun = Model.TestRuns.FirstOrDefault()!;
    bool someOmitted = false;
}

<table class="table-subtable-vertical" aria-label="Test run data">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(m => firstTestRun.RunNumber)</th>
            <th scope="col">@Html.DisplayNameFor(m => firstTestRun.ReferenceMethod)<br />(@Model.Units)</th>
            <th scope="col">@Html.DisplayNameFor(m => firstTestRun.Cms)<br />(@Model.Units)</th>
        </tr>
    </thead>
    <tbody class="table-subtable-indent">
        @foreach (var r in Model.TestRuns)
        {
            someOmitted = someOmitted || r.Omitted;

            <tr>
                <th scope="row">@r.RunNumber @Html.DisplayFor(m => r.Omitted, "BooleanAsterisk")</th>
                <td>@r.ReferenceMethod</td>
                <td>@r.Cms</td>
            </tr>
        }
        @if (someOmitted)
        {
            <tr>
                <td colspan="3">* Indicates test runs that are not included in the Relative Accuracy Determination.</td>
            </tr>
        }
    </tbody>
</table>
