@model Domain.StackTest.Models.StackTestReportTwoStack
<tr class="table-section">
    <th scope="row">@Html.DisplayNameFor(m => m.MaxOperatingCapacity)</th>
    <td>@Html.DisplayFor(m => m.MaxOperatingCapacity)</td>
</tr>
<tr>
    <th scope="row">@Html.DisplayNameFor(m => m.OperatingCapacity)</th>
    <td>@Html.DisplayFor(m => m.OperatingCapacity)</td>
</tr>
<tr>
    <th scope="row">@Html.DisplayNameFor(m => m.AllowableEmissionRates)</th>
    <td>@Html.DisplayFor(m => m.AllowableEmissionRates, "ValueWithUnitsCollection")</td>
</tr>
<tr>
    <th scope="row">@Html.DisplayNameFor(m => m.ControlEquipmentInfo)</th>
    <td class="preserve-linebreaks">@Model!.ControlEquipmentInfo</td>
</tr>
<tr>
    <td colspan="2" class="table-subtable">
        <partial name="_TestRunsTwoStackPartial" model="Model" />
    </td>
</tr>
<tr>
    <th scope="row">@Html.DisplayNameFor(m => m.PercentAllowable)</th>
    <td>@Model!.PercentAllowable</td>
</tr>
<tr>
    <th scope="row">@Html.DisplayNameFor(m => m.Comments)</th>
    <td class="preserve-linebreaks">@Model!.Comments</td>
</tr>
