@page "~/facility/{facilityId}/stack-test/{referenceNumber:int}"
@using Domain.StackTest.Models
@using WebApp.Platform.Formatting
@model WebApp.Pages.StackTest.IndexModel
@{
    Layout = "_ReportLayout";
    ViewBag.BodyCssClass = "stack-test sans-serif";

    var Report = Model.Report!;
    ViewData["Title"] = $"Facility {Report.Facility!.Id} - {Report.ReportTypeName} Reference Number: {Report.ReferenceNumber}";
}

<div class="page-wrapper">
    <partial name="_EpdBannerPartial" model="Model.OrganizationInfo" />

    <section class="stack-test-body">
        <partial name="_MemoHeaderPartial" model="Model.MemoHeader" />

        @if (Model.ShowConfidentialWarning)
        {
            <p><strong>NOTICE: This report contains confidential information.</strong></p>
        }
        <div id="str-description">@Report.ReportStatement</div>

        <table aria-labelledby="memo-subject" aria-describedby="str-description">
            <tbody>
                <tr class="table-section">
                    <th scope="row">@Html.DisplayNameFor(m => Report.Facility.Name)</th>
                    <td>@Report.Facility.Name</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(m => Report.Facility.FacilityAddress)</th>
                    <td>@Report.Facility.FacilityAddress.City, @Report.Facility.FacilityAddress.State</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(m => Report.Source)</th>
                    <td>@Report.Source</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(m => Report.Pollutant)</th>
                    <td>@Report.Pollutant</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(m => Report.ReviewedByStaff)</th>
                    <td>@Report.ReviewedByStaff</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(m => Report.WitnessedByStaff)</th>
                    <td>@Html.DisplayFor(m => Report.WitnessedByStaff, "PersonCollection")</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(m => Report.TestDates)</th>
                    <td>@Html.DisplayFor(m => Report.TestDates)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(m => Report.DateReceivedByApb)</th>
                    <td>@Html.DisplayFor(m => Report.DateReceivedByApb)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(m => Report.ApplicableRequirement)</th>
                    <td>@Report.ApplicableRequirement</td>
                </tr>
                @switch (Report)
                {
                    case StackTestReportOneStack _:
                        <partial name="_OneStackPartial" model="Report" />
                        break;

                    case StackTestReportTwoStack _:
                        <partial name="_TwoStackPartial" model="Report" />
                        break;

                    case StackTestReportLoadingRack _:
                        <partial name="_LoadingRackPartial" model="Report" />
                        break;

                    case StackTestReportPondTreatment _:
                        <partial name="_PondTreatmentPartial" model="Report" />
                        break;

                    case StackTestReportGasConcentration _:
                        <partial name="_GasConcentrationPartial" model="Report" />
                        break;

                    case StackTestReportFlare _:
                        <partial name="_FlarePartial" model="Report" />
                        break;

                    case StackTestReportRata _:
                        <partial name="_RataPartial" model="Report" />
                        break;

                    case StackTestReportOpacity _:
                        <partial name="_OpacityPartial" model="Report" />
                        break;

                    default:
                        break;
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <footer class="split-lr">
                            <div>
                                <div>cc: @Report.ComplianceManager</div>
                                <div>AIRS Number: @Report.Facility.Id</div>
                            </div>
                            <div>
                                <div>Reference Number: @Report.ReferenceNumber</div>
                                <div>Printed: @DateTime.Today.ToString(DisplayFormats.ShortDate)</div>
                            </div>
                        </footer>
                    </td>
                </tr>
            </tfoot>
        </table>
    </section>
</div>