@page "~/facility/{facilityId}/stack-test/{referenceNumber:int}"
@using Domain.StackTest.Models
@using WebApp.Platform.Formatting
@model WebApp.Pages.StackTest.IndexModel
@{
    Layout = "_ReportLayout";
    ViewBag.BodyCssClass = "stack-test sans-serif";

    var report = Model.Report!;
    ViewData["Title"] = $"Facility {report.Facility!.Id} - {report.ReportTypeName} Reference Number: {report.ReferenceNumber}";
}

<div class="page-wrapper">
    <partial name="_EpdBannerPartial" model="Model.OrganizationInfo" />

    <section class="stack-test-body">
        <partial name="_MemoHeaderPartial" model="Model.MemoHeader" />

        @if (Model.ShowConfidentialWarning)
        {
            <p>
                <strong>NOTICE: This report contains confidential information.</strong>
            </p>
        }
        <div id="str-description">@report.ReportStatement</div>

        <table aria-labelledby="memo-subject" aria-describedby="str-description">
            <tbody>
            <tr class="table-section">
                <th scope="row">@Html.DisplayNameFor(m => report.Facility.Name)</th>
                <td>@report.Facility.Name</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(m => report.Facility.FacilityAddress)</th>
                <td>@report.Facility.FacilityAddress.City, @report.Facility.FacilityAddress.State</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(m => report.Source)</th>
                <td>@report.Source</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(m => report.Pollutant)</th>
                <td>@report.Pollutant</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(m => report.ReviewedByStaff)</th>
                <td>@report.ReviewedByStaff</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(m => report.WitnessedByStaff)</th>
                <td>@Html.DisplayFor(m => report.WitnessedByStaff, "PersonCollection")</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(m => report.TestDates)</th>
                <td>@Html.DisplayFor(m => report.TestDates)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(m => report.DateReceivedByApb)</th>
                <td>@Html.DisplayFor(m => report.DateReceivedByApb)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(m => report.ApplicableRequirement)</th>
                <td>@report.ApplicableRequirement</td>
            </tr>
            @switch (report)
            {
                case StackTestReportOneStack _:
                    <partial name="_OneStackPartial" model="report" />
                    break;

                case StackTestReportTwoStack _:
                    <partial name="_TwoStackPartial" model="report" />
                    break;

                case StackTestReportLoadingRack _:
                    <partial name="_LoadingRackPartial" model="report" />
                    break;

                case StackTestReportPondTreatment _:
                    <partial name="_PondTreatmentPartial" model="report" />
                    break;

                case StackTestReportGasConcentration _:
                    <partial name="_GasConcentrationPartial" model="report" />
                    break;

                case StackTestReportFlare _:
                    <partial name="_FlarePartial" model="report" />
                    break;

                case StackTestReportRata _:
                    <partial name="_RataPartial" model="report" />
                    break;

                case StackTestReportOpacity _:
                    <partial name="_OpacityPartial" model="report" />
                    break;

                case StackTestMemorandum _:
                    <partial name="_MemorandumPartial" model="report" />
                    break;
            }
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2">
                    <footer class="split-lr">
                        <div>
                            <div>cc: @report.ComplianceManager</div>
                            <div>AIRS Number: @report.Facility.Id</div>
                        </div>
                        <div>
                            <div>Reference Number: @report.ReferenceNumber</div>
                            <div>Printed: @DateTime.Today.ToString(DisplayFormats.ShortDate)</div>
                        </div>
                    </footer>
                </td>
            </tr>
            </tfoot>
        </table>
    </section>
</div>
