@model List<Inspection>
@using Domain.Compliance.Models.WorkItems
@{
    if (Model is not { Count: > 0 })
    {
        <div class="fce-content">None.</div>
        return;
    }

    var firstItem = Model.FirstOrDefault()!;
}

<table class="">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(m => firstItem.Id)</th>
            <th scope="col">@Html.DisplayNameFor(m => firstItem.InspectionDate)</th>
            <th scope="col">@Html.DisplayNameFor(m => firstItem.Inspector)</th>
            <th scope="col">@Html.DisplayNameFor(m => firstItem.Reason)</th>
            <th scope="col">@Html.DisplayNameFor(m => firstItem.FacilityWasOperating)</th>
            <th scope="col">@Html.DisplayNameFor(m => firstItem.ComplianceStatus)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Id</td>
                <td>@Html.DisplayFor(m => i.InspectionDate)</td>
                <td>@i.Inspector.SortableFullName</td>
                <td>@i.Reason</td>
                <td>@Html.DisplayFor(m => i.FacilityWasOperating, "BooleanYesNo")</td>
                <td>@i.ComplianceStatus</td>
            </tr>
        }
    </tbody>
</table>
