@model List<Domain.Compliance.Models.WorkItems.Acc>

<h2 id="accs">Annual Compliance Certifications</h2>

@{
    if (Model is not { Count: > 0 })
    {
        <div class="fce-content">None.</div>
        return;
    }

    var firstItem = Model.FirstOrDefault()!;
}

<table aria-labelledby="accs">
    <thead>
    <tr>
        <th scope="col" class="no-wrap">@Html.DisplayNameFor(m => firstItem.Id)</th>
        <th scope="col">@Html.DisplayNameFor(m => firstItem.AccReportingYear)</th>
        <th scope="col">@Html.DisplayNameFor(m => firstItem.ReceivedDate)</th>
        <th scope="col">@Html.DisplayNameFor(m => firstItem.Reviewer)</th>
        <th scope="col">@Html.DisplayNameFor(m => firstItem.DeviationsReported)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var i in Model)
    {
        <tr>
            <th scope="row">@i.Id</th>
            <td>@i.AccReportingYear</td>
            <td>@Html.DisplayFor(m => i.ReceivedDate)</td>
            <td>@i.Reviewer.SortableFullName</td>
            <td>@Html.DisplayFor(m => i.DeviationsReported, "BooleanYesNo")</td>
        </tr>
    }
    </tbody>
</table>