@model List<Enforcement>
@using Domain.Compliance.Models.WorkItems

<h2>Five-Year History of Enforcement Actions</h2>

@{
    if (Model is not { Count: > 0 })
    {
        <div class="fce-content">None.</div>
        return;
    }

    var firstItem = Model.FirstOrDefault()!;
}

<table class="">
    <thead>
        <tr>
            <th scope="col" class="no-wrap">@Html.DisplayNameFor(m => firstItem.Id)</th>
            <th scope="col">@Html.DisplayNameFor(m => firstItem.StaffResponsible)</th>
            <th scope="col">@Html.DisplayNameFor(m => firstItem.DiscoveryDate)</th>
            <th scope="col">@Html.DisplayNameFor(m => firstItem.Type)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <th scope="row">@i.Id</th>
                <td>@i.StaffResponsible.SortableFullName</td>
                <td>@Html.DisplayFor(m => i.DiscoveryDate)</td>
                <td>@i.Type</td>
            </tr>
        }
    </tbody>
</table>
