@model Domain.Organization.Models.OrganizationInfo
<div role="banner" class="nameplate lr-grid">
    <div>
        <img class="logo" src="~/img/epd-logo.svg" alt="Georgia Environmental Protection Division" />
    </div>
    <div>
        <address>
            <div class="director">@Model.NameOfDirector, Director</div>
            <div class="branch">@Model.Org</div>
            <div class="address">
                @Model.OrgAddress.Street<br />
                @if (Model.OrgAddress.Street2 is not null)
                {
                    @Model.OrgAddress.Street2
                    <br />
                }
                @Model.OrgAddress.City, @Model.OrgAddress.State @Model.OrgAddress.PostalCode<br />
                @Model.OrgPhoneNumber
            </div>
        </address>
    </div>
</div>