@using WebApp.Platform.Settings
@using WebApp.Platform.Models
<div role="banner" class="nameplate split-lr">
    <div>
        <img class="logo" src="~/img/epd-logo.svg" alt="Georgia Environmental Protection Division" />
    </div>
    <div aria-label="EPD address">
        <address>
            <div class="director">@ApplicationSettings.OrganizationInfo.NameOfDirector, @ApplicationSettings.OrganizationInfo.TitleOfDirector</div>
            <div class="branch">@OrganizationInfo.Org</div>
            <div class="address">
                @Html.DisplayFor(m => OrganizationInfo.OrgAddress)
                @OrganizationInfo.OrgPhoneNumber
            </div>
        </address>
    </div>
</div>
